<!--LOGIN SECTION-->
<section class="view intro-2">
  <header class="intro-header">
    <br><br><br><br>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
      </div>
      <div class="form-container sign-in-container">
        <form [formGroup]="loginFormControl">
          <h1>Log in</h1>
          <input matInput type="text" placeholder="Enter Username" formControlName="userName" required>
          <input matInput type="password" placeholder="Enter Password" formControlName="passWord" required>
          <a href="#">
            <h6>Forgot your password?</h6>
          </a>
          <button (click)="login()">Log In</button>
        </form>
      </div>
      <!--REGISTRATION SECTION-->
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <!-- <h1></h1> -->
            <br><br><br><br>
            <h4 style="color:rgb(90, 9, 9);">

              <div style="color:white; list-style: none;">Linkedin: <a href="https://luigiwoodhouse.com" target="_blank"
                  class="highlight">
                  &nbsp;https://luigiwoodhouse.com &nbsp;
                </a>
              </div>

              <div style="color:white; list-style: none;">Linkedin: <a
                  href="https://www.linkedin.com/in/luigi-woodhouse-0012bb152" target="_blank" class="highlight">
                  &nbsp;https://www.linkedin.com/in/luigi-woodhouse-0012bb152 &nbsp;
                </a>
              </div>

              <div style="color:white; list-style: none;">Linkedin: <a href="https://github.com/LuigiWoodhouse"
                  target="_blank" class="highlight">
                  &nbsp;https://github.com/LuigiWoodhouse &nbsp;
                </a>
              </div>
            </h4>
            <br>
            <button class="ghost" (click)="goToRegisterPage()" id="signUp">Register Your Account</button>
            <button type="button" mat-raised-button color="primary" (click)="goToRegisterPage()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>